<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script defer src="../static/script.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Your Name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your Name Professional Website">
  <title>Eric</title>  

</head>
<body onload="addYear()">
  <header>
    <h1 id="webname">Eric ANZA Du</h1>
    <nav id="myTopnav" class="topnav">
      <a href="index.html" class="active">Home</a>
      <a href="cv.html">CV</a>
      <a href="contact.html">Contact me</a>
      <a href="fun.html">For fun</a>
      <a href="javascript:void(0);" class="icon" onclick="activeNav()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </header>
  <div class="main">
      <h2 id="greeting"></h2>
      <img src="../static/photo_of_me.jpg" alt="[Your Full Name Profile Image]" width="350px" class="classA">
      <!-- <p id="intro" class="classA">Aspiring software engineer, passionate about creating innovative solutions and eager to contribute to a dynamic team. </p> -->
      <div class="classA">
        <span id="shortIntro">Aspiring software engineer</span>
        <span id="readMore"> read more ...</span>
        <span id="longIntro">passionate about creating innovative solutions and eager to contribute to a dynamic team.</span>
        <span id="readLess"> read less</span>
      </div>
    
  </div>
  <footer>
    <p id="copyYear">Eric Du &copy;</p>
 </footer>
 

</body>
</html>